@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
 background-color: hsl(212, 45%, 89%);
min-height: 100vh;
display: flex;
align-items: center;
font-size: 15px;
}
.container{
    max-width: 360px;
    margin: 0 auto;
}

.cart{
    background-color: hsl(0, 0%, 100%);
    margin: 0 1em;
    padding: 18px;
    border-radius: 17px;
    text-align: center;
}
.cart img{
    width: 100%;
   border-radius: 6px;
}
.text{
    padding: 22px 10px;
}
p{
    color: hsl(220, 15%, 55%);

}
.text h2{
    color:  hsl(218, 44%, 22%);
    padding-bottom: 15px;
}